<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-students> </app-students>
<app-student-form> </app-student-form>
<app-reactive-student-form> </app-reactive-student-form>
<app-teachers> </app-teachers> -->

<!-- <router-outlet></router-outlet> -->
<div>Routing and Navigation</div>
<nav>
<div><a routerLink="/students" routerLinkActive = "active"> Students</a></div>
<br />
<div><a routerLink="/teachers" routerLinkActive = "active">Teachers</a></div>
<br />
</nav>
<router-outlet> </router-outlet>
